---
name: CI

on:
  pull_request:
  push:
    branches:
      - 'develop'
      - 'master'
      - '*-stable'


concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  puppet:
    name: Puppet
    uses: voxpupuli/gha-puppet/.github/workflows/beaker.yml@v3
    with:
      pidfile_workaround: 'false'
      beaker_facter: 'pulpcore_version:Pulp:nightly,3.63,3.73,3.85'
      rubocop: false
