---
name: CI

on:
  pull_request:


concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  puppet:
    name: Puppet
    uses: voxpupuli/gha-puppet/.github/workflows/beaker.yml@v2
    with:
      pidfile_workaround: 'false'
      beaker_facter: 'pulpcore_version:Pulp:3.39'
      rubocop: false
      cache-version: '1'
